html {
    font-family: serif;
}

body {
    background-image: url("Bilder/Hintergrund.jpg");
    background-size: cover;
    background-position: top;
}

h1 {
    background-color: cornsilk;
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: normal;
}

.tabelle {
    background-color: cornsilk;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    width: 900px;
}

table {
    display: flex;
    justify-content: center;
    margin: 20px;
}

th, td {
    padding-left : 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    font-size: 20px;
    background-color: palegoldenrod;
    width: 400px;
}

.mittig {
    display: flex;
    justify-content: center;
}



img {
    width: 400px;
}

.image {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.impressum > p {

    font-size: 15px;
    text-align: center;
    margin: 5px;
}

