html {
    font-family: serif;
}

body {
    background-image: url("Bilder/Hintergrund.jpg");
    background-position: top;
}

h1 {
    background-color: cornsilk;
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: normal;
}

.text {
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    width: 900px;
    font-size: 20px;
    background-color: cornsilk;
    padding: 20px;
    border-radius: 20px;
}


.total  {
    display: flex;
    justify-content: center;
}

.image > img {
    background-color: palegoldenrod;
    border-radius: 20px;
    padding-top: 20px;
}

.image {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.impressum > p {

    font-size: 15px;
    text-align: center;
    margin: 5px;
}

.review {
    background-color: palegoldenrod;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

img {
    border-radius: 20px;
    padding-bottom: 10px;
    margin: 20px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

